<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.2</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="stylesheet" href="../../css/font.css" th:href="@{/adminStatic/css/font.css}">
    <link rel="stylesheet" href="../../css/xadmin.css" th:href="@{/adminStatic/css/xadmin.css}">
    <script th:src="@{/webjars/layui/2.5.6/layui.js}" src="" type="text/javascript"></script>
    <script th:src="@{/webjars/jquery/3.5.1/jquery.js}" src="" type="text/javascript"></script>
    <script type="text/javascript" src="../../js/xadmin.js" th:src="@{/adminStatic/js/xadmin.js}"></script>
    <script type="text/javascript" src="../../js/xadmin.js" th:src="@{/adminStatic/js/MyLayuiUtils.js}"></script>
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        .layui-form-item {
            margin-bottom: 0;
        }

        .layui-form-pane .layui-form-label {
            max-width: 100px;
        }

        .layui-form-item .layui-input-inline {
            width: 180px;
        }

        .layui-form-pane .layui-form-label {
            padding: 9px 15px;
        }
    </style>
</head>

<body>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <fieldset class="layui-elem-field layui-field-title site-title">
            <legend><a name="use">My property meter reading information</a></legend>
        </fieldset>
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body " style="padding-bottom: 0;">
                    <form class="layui-form layui-col-space5 layui-form-pane" id="form">
                        <input type="hidden" name="userName" th:value="${clientName}">
                        <!-- 根据收费项查询 -->
                        <div class="layui-inline layui-show-xs-block layui-form-item">
                            <label class="layui-form-label">Fee items</label>
                            <div class="layui-input-inline">
                                <select name="itemId" lay-search>
                                    <option value="">Select or enter fee items</option>
                                    <option th:value="${item.id}" th:each="item:${itemList}"
                                            th:text="${item.chargeName}"></option>
                                </select>
                            </div>
                        </div>
                        <!-- 根据收费状态查询 -->
                        <div class="layui-inline layui-show-xs-block layui-form-item">
                            <label class="layui-form-label">Payment status</label>
                            <div class="layui-input-inline">
                                <select name="visitStatus">
                                    <option value="">Please select payment status</option>
                                    <option value="1">Unpaid</option>
                                    <option value="0">Paid</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline layui-show-xs-block">
                            <button class="layui-btn layui-btn-normal" id="searchBtn" type="button" lay-filter="sreach">
                                <i class="layui-icon">&#xe615;</i>
                            </button>
                            <input class="layui-btn layui-btn-normal layui-icon" type="reset" value="&#xe669;"/>
                        </div>
                    </form>
                </div>
                <div class="layui-card-body ">
                    <table id="listInfo" lay-filter="listInfo"></table>
                </div>
            </div>
        </div>
        <fieldset class="layui-elem-field layui-field-title site-title">
            <legend><a name="use">My property payment records</a></legend>
        </fieldset>
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body " style="padding-bottom: 0;">
                    <form class="layui-form layui-col-space5 layui-form-pane" id="form2">
                        <input type="hidden" name="clientName" th:value="${clientName}">
                        <!-- 根据渠道名查询 -->
                        <div class="layui-inline layui-show-xs-block layui-form-item">
                            <label class="layui-form-label">Fee items</label>
                            <div class="layui-input-inline">
                                <select name="itemName" lay-search>
                                    <option value="">Select or enter fee items</option>
                                    <option th:value="${item.chargeName}" th:each="item:${itemList}"
                                            th:text="${item.chargeName}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline layui-show-xs-block">
                            <button class="layui-btn layui-btn-normal" id="searchBtn2" type="button"
                                    lay-filter="sreach">
                                <i class="layui-icon">&#xe615;</i>
                            </button>
                            <input class="layui-btn layui-btn-normal layui-icon" type="reset" value="&#xe669;"/>
                        </div>
                    </form>
                </div>
                <div class="layui-card-body ">
                    <table id="listInfo2" lay-filter="listInfo"></table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script id="operationBar" type="text/html">
    {{# if(d.visitStatus == 1){}}
    <a class="layui-btn layui-btn-sm iconfont" lay-event="pay">&#xe74e; Pay</a>
    {{# }}}
</script>

<script>
    layui.use(['table', 'form', 'upload', 'laydate'],
        function () {
            var table = layui.table,
                layer = layui.layer,
                form = layui.form,
                upload = layui.upload,
                laydate = layui.laydate;

            // 开始日期选择
            laydate.render({
                elem: '#start'
                , type: 'date'
            });

            // 结束日期选择
            laydate.render({
                elem: '#end'
                , type: 'date'
            });

            // 初始调用表格加载方法
            loadFunction("/housing/propertyChargeVisit/getDataByPage?" + $("#form").serialize());
            // 初始调用表格加载方法
            loadFunction2("/housing/propertyPayVisit/getDataByPage?" + $("#form2").serialize());

            /**
             * 绑定查询按钮
             */
            $("#searchBtn").click(function () {
                // 获取表单数据
                var sendData = $("#form").serialize();
                // 重新调用表格加载方法
                loadFunction("/housing/propertyChargeVisit/getDataByPage?" + sendData)
            })

            /**
             * 加载表格方法
             * @param url
             */
            function loadFunction(url) {
                //第一个实例
                table.render({
                    elem: '#listInfo'
                    , height: 'full-115'
                    , url: url //数据接口
                    , defaultToolbar: ['filter']
                    , loading: true
                    , limit: 20
                    , title: 'Meter reading record information'
                    , toolbar: '#toolbarDemo'
                    , page: {
                        layout: ['limit', 'count', 'prev', 'page', 'next', 'skip', 'refresh'] //自定义分页布局
                        , groups: 5 //只显示 5 个连续页码
                        , theme: '#1E9FFF'
                    }
                    , cols:
                        [
                            [ //表头
                                {type: 'numbers', title: 'No.', width: 60}
                                , {field: 'id', title: 'Id', width: 120, hide: true}
                                , {field: 'itemId', title: 'Item id', hide: true}
                                , {field: 'itemName', title: 'Item name', width: 100}
                                , {
                                field: 'buildingInfo',
                                title: 'Building info',
                                width: 160,
                                templet: '<div>Room {{d.houseNum}}, Unit {{d.unitNum}}, Building {{d.buildingNum}}</div>'
                            }
                                , {field: 'userName', title: 'Name'}
                                , {field: 'price', title: 'Price', width: 90, templet: '<div>{{d.price / 100}}RM</div>'}
                                , {
                                field: 'prevMonthCount',
                                title: 'Last month\'s reading',
                                width: 100,
                                templet: '<div>{{d.prevMonthCount == null ? "None":d.prevMonthCount}}</div>'
                            }
                                , {
                                field: 'currMonthCount',
                                title: 'This month\'s reading',
                                width: 100,
                                templet: '<div>{{d.currMonthCount == null ? "None":d.currMonthCount}}</div>'
                            }
                                , {
                                field: 'useCount',
                                title: 'Usage',
                                width: 100,
                                templet: '<div>{{d.useCount == null ? "None" : d.useCount}}</div>'
                            }
                                , {field: 'readDate', title: 'Meter reading time', width: 180}
                                , {field: 'visitDate', title: 'Record time', hide: true}
                                , {field: 'readName', title: 'Meter reader'}
                                , {
                                field: 'visitStatus',
                                title: 'Payment status',
                                templet: "<div>{{d.visitStatus == 1 ? '<span style=\"color:red;\">Unpaid</span>' : '<span style=\"color:blue;\">Paid</span>'}}</div>"
                            }
                                , {field: 'caozuo', title: 'Operation', width: 200, toolbar: '#operationBar'}
                            ]
                        ]
                })
            }

            /**
             * 绑定查询按钮
             */
            $("#searchBtn2").click(function () {
                var start = $("input[name='start']").val();
                var end = $("input[name='end']").val();
                // 如果只选择结束时间不选择开始时间, 则参数有误, 不可进行查询
                if (!start && end) {
                    layer.open({
                        title: 'Error'
                        , content: 'Sorry... you cannot only select the end time without selecting the start time!'
                        , shade: 0.1
                        , icon: 5
                        , anim: 6
                        , closeBtn: 0
                    })
                    return;
                }
                // 获取表单数据
                var sendData = $("#form2").serialize();
                // 重新调用表格加载方法
                loadFunction2("/housing/propertyPayVisit/getDataByPage?" + sendData)
            })

            /**
             * 加载表格方法
             * @param url
             */
            function loadFunction2(url) {
                //第一个实例
                table.render({
                    elem: '#listInfo2'
                    , height: 'full-115'
                    , url: url //数据接口
                    , defaultToolbar: ['filter']
                    , loading: true
                    , limit: 20
                    , title: 'Channel information'
                    , toolbar: true
                    , page: {
                        layout: ['limit', 'count', 'prev', 'page', 'next', 'skip', 'refresh'] //自定义分页布局
                        , groups: 5 //只显示 5 个连续页码
                        , theme: '#1E9FFF'
                    }
                    , cols:
                        [
                            [ //表头
                                {type: 'numbers', title: 'No.', width: 60}
                                , {field: 'id', title: 'Id', width: 120, hide: true}
                                , {field: 'chargeId', title: 'Charge iD', hide: true}
                                , {field: 'itemName', title: 'Item name'}
                                , {
                                field: 'buildingNum',
                                title: 'Building info',
                                templet: '<div>Room {{d.houseNum}}, Unit {{d.unitNum}}, Building {{d.buildingNum}}</div>'
                            }
                                , {field: 'clientName', title: 'Name'}
                                , {field: 'payType', title: 'Payment Methods'}
                                , {field: 'payMoney', title: 'Amount', templet: '<div>{{d.payMoney / 100}}元</div>'}
                                , {field: 'payDate', title: 'Pay Date'}
                                , {field: 'chargePerson', title: 'Charging Staff'}
                            ]
                        ]
                })
            }

            //头工具栏事件
            table.on('toolbar(listInfo)', function (obj) {
                var checkStatus = table.checkStatus(obj.config.id);
                var data = checkStatus.data;
                var selectCount = data.length;      //获取选中行
                var dataId = getIds(data);          //data是选中的所有数据，得到的是一个数组，将这个数组传入getIds方法进行处理
                switch (obj.event) {
                    case 'add':
                        toWindow("toAddWindow", "Record meter reading information", "750px", "500px");
                        break;
                    //自定义头工具栏右侧图标 - 提示
                    // case 'del':
                    //     // 删除重要信息
                    //     deleteInfo(selectCount, dataId, "deleteInfo?ids=" + dataId);
                    //     break;
                }
            });

            //行内工具条
            table.on('tool(listInfo)', function (obj) {
                switch (obj.event) {
                    case 'pay':
                        // 获取本条信息的数据
                        var id = obj.data.id;
                        toWindow("../propertyPayVisit/toPayWindow?id=" + id, "Property payment", "440px", "430px");
                        break;
                }
            });
        });
</script>
</html>